@use 'src/scss/_mixins' as mixins;

// Modal
.modalContainer {
    @include mixins.modal-container;
}

.overlay {
    @include mixins.overlay;
}

// Image
.image {
    @include mixins.modal;

    max-height: 90vh;
    max-width: 60vw;
    object-fit: contain;
    z-index: mixins.$overlay-index + 1;
}

@mixin modal-button {
    position: absolute;
    stroke: rgb(255, 255, 255);
    opacity: 0.6;
    height: 50px;
    width: 50px;
    right: 10vw;
    z-index: mixins.$overlay-index + 1;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    svg {
        width: 70%;
    }
}

.menuButton {
    @include modal-button;
    top: 0vh;
}

.closeButton {
    @include modal-button;
    top: 5vh;
}

// Arrow
.arrowContainer {
    height: 100vh;
    width: 10vw;
    position: absolute;

    &:hover {
        background-color: rgba(89, 89, 89, 0.626);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: mixins.$overlay-index + 2;

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    svg {
        stroke: white;
        height: 50px;
        width: 50px;
    }
}

// tags
.tagsContainer {
    top: 0;
    left: 15vw;
    width: 70vw;

    height: 5vh;

    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto;

    position: fixed;
    z-index: mixins.$overlay-index + 1;

    .innerTagsContainer {
        height: 100%;
        margin: auto;
        min-width: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;

        button {
            flex-shrink: 0;
        }
    }
}
