@mixin tag-input-base {
    width: 100%;
    height: 30px;
    font-family: TwitterChirp;
    font-weight: 400;
    margin-top: 4px;
    border-radius: 5px;
    box-sizing: border-box;
}

.tagInput {
    @include tag-input-base;
}

.tag-dropdown {
    padding: 12px 10px;
    display: none;
    position: absolute;
    color: inherit;
    white-space: nowrap;
    z-index: 20000; /* Ensure it is above other content */
    font-family: TwitterChirp;
    font-weight: 700;
    width: 300px;

    .tags-container {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        max-height: 350px;
        overflow-y: auto;
    }
}

@mixin tag-base($bg-color, $bg-color-hover, $opacity, $opacity-inactive) {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: TwitterChirp;
    font-weight: 700;
    border: 2px solid currentColor;
    border-radius: 5px;
    padding: 1px 4px 1px 6px;
    /* Force dark mode regardless of theme */
    color: rgb(251, 251, 254);
    background-color: $bg-color;
    opacity: $opacity;

    svg {
        stroke: currentcolor;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__inactive {
        opacity: $opacity-inactive;
        border: 2px solid transparent;
    }

    &:hover {
        background-color: $bg-color-hover;
    }
}

.tag {
    @include tag-base(rgb(59, 58, 66), rgb(81, 81, 91), 1, 0.75);
}

@mixin menu-style-base {
    background-color: #0b0b0ce0;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-family: TwitterChirp;
}

@mixin context-menu-base {
    @include menu-style-base;

    hr {
        margin: 3px;
    }
}

.context-menu {
    @include context-menu-base;
    width: 160px;
}

.context-menu-wide {
    @include context-menu-base;
    width: 200px;
}

.context-menu-icon {
    width: 14px;
    height: 14px;
    stroke: currentcolor;
    opacity: 0.9;
    margin-right: 2px;
}
