/* Drop down */
#tagInput {
    height: 25px;
    font-family: TwitterChirp;
    margin-top: 4px;
    border-radius: 5px;
}

.tag-dropdown {
    padding: 16px;
    display: none;
    position: absolute;
    padding: 10px 20px;
    color: inherit;
    white-space: nowrap;
    z-index: 20000; /* Ensure it is above other content */
    font-family: TwitterChirp;
    font-weight: 700;
    max-width: 300px;
}

.tag {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: TwitterChirp;
    font-weight: 700;
    border: 2px solid currentColor;
    border-radius: 5px;
    padding: 1px 4px 1px 6px;
    /* Force dark mode regardless of theme */
    color: rgb(251, 251, 254);
    background-color: rgb(59, 58, 66);
}

.tag:hover {
    background-color: rgb(81, 81, 91);
}

.tag svg {
    stroke: currentcolor;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.tag__inactive {
    opacity: 0.75;
    border: 2px solid transparent;
}

#tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
