.tag-input {
    width: 100%;
    height: 30px;
    font-family: TwitterChirp;
    font-weight: 400;
    margin-top: 4px;
    border-radius: 5px;
    box-sizing: border-box;
}

.tag-dropdown {
    padding: 12px 10px;
    display: none;
    position: absolute;
    color: inherit;
    white-space: nowrap;
    z-index: 20000; /* Ensure it is above other content */
    font-family: TwitterChirp;
    font-weight: 700;
    width: 300px;

    .tags-container {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        max-height: 350px;
        overflow-y: auto;
    }
}

.tag {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: TwitterChirp;
    font-weight: 700;
    border: 2px solid currentColor;
    border-radius: 5px;
    padding: 1px 4px 1px 6px;
    /* Force dark mode regardless of theme */
    color: rgb(251, 251, 254);
    background-color: rgb(59, 58, 66);

    svg {
        stroke: currentcolor;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__inactive {
        opacity: 0.75;
        border: 2px solid transparent;
    }

    &:hover {
        background-color: rgb(81, 81, 91);
    }
}

%menu-style-base {
    background-color: #0b0b0ce0;
    backdrop-filter: blur(10px);
}

%context-menu-base {
    @extend %menu-style-base;
    font-family: TwitterChirp;
    border-radius: 5px;

    hr {
        margin: 3px;
    }
}

.context-menu {
    @extend %context-menu-base;
    width: 160px;
}

.context-menu-wide {
    @extend %context-menu-base;
    width: 200px;
}

.context-menu-icon {
    width: 14px;
    height: 14px;
    stroke: currentcolor;
    opacity: 0.9;
    margin-right: 2px;
}

.tag-modal-menu {
    @extend %context-menu-base;
    color: '#eee';
    padding: 12px;
    border-radius: '5px';
    box-shadow: 'rgba(255, 255, 255, 0.05) 0px 0px 15px 0px, rgba(255, 255, 255, 0.05) 0px 0px 3px 1px';

    .tag {
        opacity: 1;
        background-color: rgb(86, 84, 96);

        &:hover {
            background-color: rgb(111, 111, 122);
        }

        &__inactive {
            opacity: 0.85;
        }
    }
}
