@use '../../scss/_mixins' as mixins;

.modalContainer {
    @include mixins.modal-container;
}

.overlay {
    @include mixins.overlay;
}

$modalHeight: 200px;

@mixin modal-button {
    color: white;
    background-color: #3b3a42;

    &:hover {
        background-color: #4b4a52;
    }

    &:disabled {
        opacity: 0.3;
    }
}

.modal {
    @include mixins.modal;
    display: flex;
    flex-direction: column;
    color: white;

    width: 300px;
    min-height: $modalHeight;
    height: fit-content;
    z-index: 30001;
    padding: 16px;
    border-radius: 8px;

    font-family: TwitterChirp;

    pointer-events: auto;

    background-color: rgb(19, 18, 18);

    .titleContainer {
        display: flex;
        align-items: center;

        h3 {
            margin: 8px 0;
        }

        .svg {
            margin-left: auto;
            height: 20px;
            width: 20px;
            cursor: pointer;

            svg {
                height: 20px;
                width: 20px;
                stroke: currentColor;
                opacity: 0.75;
            }
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        .btnContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 2;

            height: 100px;

            button {
                @include modal-button;
                width: 200px;
                height: 50px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;

                cursor: pointer;
            }
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        opacity: 0.7;

        h3 {
            width: fit-content;
        }
    }

    .sync {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        .syncInfo {
            font-size: 12px;
            opacity: 0.5;
        }

        .syncContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // flex-grow: 2;

            button {
                @include modal-button;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin: 8px;
                height: 80px;
                width: 80px;

                border-radius: 16px;
                font-size: 12px;
                font-weight: 600;

                svg {
                    stroke: currentColor;

                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    .privacy {
        margin-top: auto;

        width: 100%;
        display: flex;
        justify-content: right;

        a {
            margin-left: 4px;
            font-size: 12px;
            color: rgb(163, 163, 163);
        }
    }
}
