@use '../../scss/_mixins' as mixins;

// Modal
.modalContainer {
    @include mixins.modal-container;
}

.overlay {
    @include mixins.overlay;
}

// Image
.image {
    @include mixins.modal;

    height: 90vh;
    max-width: 60vw;
    object-fit: contain;
    z-index: mixins.$overlay-index + 1;
}

.closeButton {
    position: absolute;
    stroke: rgb(255, 255, 255);
    opacity: 0.6;
    height: 50px;
    width: 50px;
    right: 10vw;
    top: 5vh;
    z-index: mixins.$overlay-index + 1;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

// Arrow
.arrowContainer {
    height: 100vh;
    width: 10vw;
    position: absolute;

    &:hover {
        background-color: rgba(89, 89, 89, 0.626);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: mixins.$overlay-index + 2;

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    svg {
        stroke: white;
        height: 50px;
        width: 50px;
    }
}
