@use '../../scss/_mixins' as mixins;

$grey: rgb(59, 58, 66);

@mixin menu-style-base {
    background-color: #0b0b0ce0;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-family: TwitterChirp;
    overflow: hidden;
}

@mixin box-shadow-base {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px 0px, rgba(255, 255, 255, 0.3) 0px 0px 3px 1px;
}

@mixin clear-button {
    color: rgb(52, 114, 248);
    cursor: pointer;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }
}

.tag {
    @include mixins.tag-base($grey, rgb(81, 81, 91), 1, 0.75);
}

// Root type
.tagsGallery {
    padding: 40px 0;
    font-family: TwitterChirp;
    font-weight: 500;
    stroke: currentcolor;

    button {
        display: flex;
        align-items: center;
    }

    svg.button-icon {
        display: inline-block;
        stroke: currentcolor;
        fill: none;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .title {
        display: flex;
        align-items: center;

        .help {
            margin-left: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 20px;
                height: 20px;
                opacity: 0.5;
            }
        }

        .github {
            margin-left: auto;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: block;
                width: 30px;
                height: 30px;
                color: inherit;
            }

            svg {
                width: 100%;
                height: 100%;
                fill: currentColor;
                stroke: none;
                color: inherit;
            }
        }
    }

    .addTagContainer {
        position: relative;

        .addTag {
            @include mixins.tag-input-base;
            width: 300px;

            display: flex;
            justify-content: right;
        }

        .addTagClear {
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 30px;

            background-color: transparent;
            border: none;
            outline: none;

            :hover {
                opacity: 0.7;
            }

            svg {
                stroke: currentColor;
                height: 100%;
            }
        }
    }

    .optionsPanel {
        display: flex;
        gap: 10px;

        svg {
            width: 20px;
        }

        .dotMenu {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #565656;
            }

            .dotMenuDropdown {
                @include menu-style-base;
                @include box-shadow-base;
                font-weight: 500;
                position: absolute;
                width: 160px;
                z-index: 9999;
                display: none;
                top: 0;
                right: 0;
                cursor: default;
                color: white;

                &__visible {
                    display: block;
                }

                .dropdownItem {
                    padding: 8px 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #565656;
                    }

                    &__disabled {
                        opacity: 0.7;
                        cursor: wait;

                        &:hover {
                            background-color: inherit;
                        }
                    }
                }

                hr {
                    cursor: default;
                    margin: 3px;
                }
            }
        }
    }

    .createTagHint {
        display: flex;
        align-items: center;
        span {
            opacity: 0.7;
        }
        strong {
            opacity: 1;
        }
    }

    .tagsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        margin: 10px 0;

        .clearFilters {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            min-height: 30px;
            gap: 4px;

            .clearFiltersButton {
                @include clear-button;
            }
        }
    }

    .imagesContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .noImages {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;

            .clearButton {
                @include clear-button;
            }
        }

        .imageContainer {
            position: relative; // For children
            width: 200px;
            height: 200px;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
            border-radius: 5px;
            border: none;

            img {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: filter 0.2s ease-in-out;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0.2;
                }
                to {
                    opacity: 1;
                }
            }

            &__loaded {
                background-color: #aaaaaa;
                animation: 0.1s fadeIn ease-in-out;
            }

            &__hover {
                @include mixins.outline;
                background-color: transparent;

                img {
                    filter: brightness(0.6);
                }
            }

            &:focus-visible {
                @include mixins.outline;
                background-color: transparent;
            }

            @keyframes loading {
                to {
                    background-position-x: -20%;
                }
            }

            &__skeleton {
                background-color: #aaaaaa;
                background: linear-gradient(
                        100deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.7) 50%,
                        rgba(255, 255, 255, 0) 70%
                    )
                    #aaaaaa;
                background-size: 200% 100%;
                background-position-x: 180%;
                animation: 0.5s loading linear infinite;
                opacity: 0.2;
            }

            // Tag count
            .tagCountContainer {
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 2px;

                display: flex;
                align-items: center;
                justify-content: center;

                color: white;
                background-color: $grey;
                border-radius: 10px;

                z-index: 10;
                width: fit-content;
                min-width: 30px;

                .tagCount {
                    color: white;
                    cursor: default;
                }

                svg {
                    font-size: 13px;
                    margin-right: 3px;
                    width: 13px;
                    height: 13px;
                    stroke: white;
                    fill: none;
                }
            }
        }
    }
}

// Context menu
@mixin context-menu-base {
    @include menu-style-base;

    hr {
        margin: 3px;
    }

    div {
        span:nth-of-type(2) {
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.contextMenuIcon {
    width: 14px;
    height: 14px;
    stroke: currentcolor;
    opacity: 0.9;
    margin-right: 2px;
}

.contextMenu {
    @include context-menu-base;
    width: 160px;
}

.contextMenuWide {
    @include context-menu-base;
    width: 200px;
}

/* Override to match context menu style */
.tagModal {
    @include menu-style-base;
    @include box-shadow-base;
    color: '#eee';
    padding: 12px;
    border-radius: '5px';
}
