@use '../../scss/_mixins' as mixins;

@mixin menu-style-base {
    background-color: #0b0b0ce0;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-family: TwitterChirp;
    overflow: hidden;
}

@mixin box-shadow-base {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px 0px, rgba(255, 255, 255, 0.3) 0px 0px 3px 1px;
}

// Root type
.tagsGallery {
    padding: 40px 0;
    font-family: TwitterChirp;
    font-weight: 500;
    stroke: currentcolor;

    button {
        display: flex;
        align-items: center;
    }

    svg.button-icon {
        display: inline-block;
        stroke: currentcolor;
        fill: none;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.title {
    display: flex;
    align-items: center;

    .help {
        margin-left: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;
            opacity: 0.5;
        }
    }

    .github {
        margin-left: auto;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: block;
            width: 30px;
            height: 30px;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: white;
            stroke: none;
        }
    }
}

.optionsPanel {
    display: flex;
    gap: 10px;

    svg {
        width: 20px;
    }
}

.dotMenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: #565656;
    }
}

.dotMenuDropdown {
    @include menu-style-base;
    @include box-shadow-base;
    font-weight: 500;
    position: absolute;
    width: 160px;
    z-index: 9999;
    display: none;
    top: 0;
    right: 0;
    cursor: default;

    &__visible {
        display: block;
    }

    .dropdownItem {
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
            background-color: #565656;
        }

        &__disabled {
            opacity: 0.7;
            cursor: wait;

            &:hover {
                background-color: inherit;
            }
        }
    }

    hr {
        cursor: default;
        margin: 3px;
    }
}

.tag {
    @include mixins.tag-base(rgb(59, 58, 66), rgb(81, 81, 91), 1, 0.75);
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.addTag {
    @include mixins.tag-input-base;
    width: 300px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 10px 0;
}

.imageContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: filter 0.2s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0.2;
        }
        to {
            opacity: 1;
        }
    }

    &__loaded {
        background-color: #aaaaaa;
        animation: 0.1s fadeIn ease-in-out;
    }

    &__hover {
        outline: 4px solid #8ca3ff;
        background-color: transparent;

        img {
            filter: brightness(0.6);
        }
    }

    @keyframes loading {
        to {
            background-position-x: -20%;
        }
    }

    &__skeleton {
        background-color: #aaaaaa;
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.7) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #aaaaaa;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 0.5s loading linear infinite;
        opacity: 0.2;
    }
}

// Context menu
@mixin context-menu-base {
    @include menu-style-base;

    hr {
        margin: 3px;
    }
}

.contextMenuIcon {
    width: 14px;
    height: 14px;
    stroke: currentcolor;
    opacity: 0.9;
    margin-right: 2px;
}

.contextMenu {
    @include context-menu-base;
    width: 160px;
}

.contextMenuWide {
    @include context-menu-base;
    width: 200px;
}

/* Override to match context menu style */
.tagModal {
    @include menu-style-base;
    @include box-shadow-base;
    color: '#eee';
    padding: 12px;
    border-radius: '5px';
}
